.fondoRojo
{
    background-color: red;
}

.fondoVerde
{
    background-color: green;
}

.fondoAmarillo
{
    background-color: yellow;
}

.colorRojo
{
    color: red
}

.precio
{
    color: red;
    font-size: 25px;
}

.titulo
{
    font-size: 20px;
    font-weight: bold;
}

 .servicio
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
} 

.fa-bed
{
    color: rgb(249, 191, 141)
}

.fa-cutlery{
    color: rgb(138, 211, 217)
}

.fa-television{
    color: rgb(192, 223, 151)
}

.fa-fire{
    color: red;
}

ul#servicios li {
    display:inline;
}

