<title>Búsqueda de viajes</title>

<div class="container">

    <div class="row" ng-controller="BuscarViajesController as buscarCtrl">
        <!-- PANEL DE BUSQUEDA (IZQUIERDO) -->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <form role="form">

                <div class="form-group">
                    <label for="ciudadPartida">Ciudad Partida</label>
                    <div>
                        <div class="row">
                            <div>
                                <p class="input-group">
                                    <input ng-model="buscarCtrl.ciudadPartida" type="text" id="ciudadPartida" placeholder="Ingresá ciudad de partida" class="form-control"
                                        autofocus>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default">
                                            <i class="glyphicon glyphicon-globe"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fechaPartida">Fecha Partida</label>
                    <div>
                        <div class="row">
                            <div>
                                <p class="input-group">
                                    <input disabled type="text" class="form-control" clear-text="Limpiar" current-text="Hoy" close-text="Cerrar" datepicker-popup="dd-MM-yyyy"
                                        ng-model="buscarCtrl.fechaPartida" is-open="buscarCtrl.fechaPartidaAbierto" min-date="buscarCtrl.fechaMinimaViaje"
                                        datepicker-options="buscarCtrl.dateOptions" ng-required="true" placeholder="Ingresá fecha de partida"
                                    />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="buscarCtrl.verFechaPartida($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ciudadLlegada">Ciudad Llegada</label>
                    <div>
                        <div class="row">
                            <div>
                                <p class="input-group">
                                    <input ng-model="buscarCtrl.ciudadLlegada" type="text" id="ciudadLlegada" placeholder="Ingresá ciudad de llegada" class="form-control"
                                        autofocus>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default">
                                            <i class="glyphicon glyphicon-globe"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fechaLlegada">Fecha Llegada</label>
                    <div>
                        <div class="row">
                            <div>
                                <p class="input-group">
                                    <input disabled type="text" class="form-control" clear-text="Limpiar" current-text="Hoy" close-text="Cerrar" datepicker-popup="dd-MM-yyyy"
                                        ng-model="buscarCtrl.fechaLlegada" is-open="buscarCtrl.fechaLlegadaAbierto" min-date="buscarCtrl.fechaMinimaViaje"
                                        datepicker-options="buscarCtrl.dateOptions" ng-required="true" placeholder="Ingresá fecha de llegada"
                                    />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="buscarCtrl.verFechaLlegada($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button data-ng-click="buscarCtrl.buscarViajes()" type="submit" class="btn btn-primary btn-block">Buscar</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button data-ng-click="buscarCtrl.resetViajes()" type="button" class="btn btn-link">Limpiar</button>
            </div>

        </div>

        <!-- PANEL PRÓXIMOS VIAJES (DERECHO) -->
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h3>Próximos viajes</h3>
            <i ng-show="(buscarCtrl.viajes.length==0)">No existen viajes que coincidan con tus parámetros de búsqueda</i>
            <hr>


            <ul class="nav nav-pills nav-stacked">
                <li data-ng-repeat="viaje in buscarCtrl.viajes">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <b>Partida</b>
                        <br> {{viaje.fechaPartida}}
                        <br>
                        <b>Llegada</b>
                        <br> {{viaje.fechaLlegada}}
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        Asientos libres
                        <br>{{buscarCtrl.verAsientosLibres(viaje)}} / {{viaje.micro.cantidadAsientos}}
                        <br>
                        <span ng-show="buscarCtrl.ultimosDisponibles(viaje)" class="colorRojo">
                            <i class="fa fa-fire" aria-hidden="true"></i>
                            Últimos disponibles</span>

                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                        <i ng-show="buscarCtrl.esCama(viaje)" class="fa fa-bed" aria-hidden="true"></i>
                        {{viaje.micro.tipoAsiento.nombre}}

                        <ul class="nav nav-pills nav-stacked" id="servicios">
                            <i ng-show="buscarCtrl.tieneServicios(viaje)" class="fa fa-cutlery" aria-hidden="true"></i>

                            {{buscarCtrl.mostrarServicios(viaje)}}

                        </ul>

                        <i ng-show="viaje.micro.tieneTele" class="fa fa-television" aria-hidden="true"> <span class="servicio">Con tele</span></i>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <b>Recorrido</b>
                        <br>
                        <table>
                            <tr ng-repeat="ciudad in viaje.recorrido">
                                <td>{{ciudad}}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <b class="precio">${{viaje.precio}}</b>
                        <br>
                        <button ng-show="viaje.asientosLibres.length>0" ui-sref="seleccionarAsiento({id: viaje.id})" type="button" class="btn btn-danger">Comprar</button>
                        <i ng-show="viaje.asientosLibres.length==0">Pasajes agotados</i>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                </li>
            </ul>

        </div>
    </div>

</div>