<!-- BARRA SUPERIOR -->
<div class="container" ng-controller="BarraSuperiorController as superiorCtrl">
    <nav class="navbar navbar-dark bg-primary">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right ">
                <li>
                    <button ng-click="superiorCtrl.abrirPerfil()" type="button" class="btn btn-success">{{superiorCtrl.usuarioLogueado.username}}</button>

                </li>
            </ul>
        </div>
    </nav>

    <div class="row" ng-controller="BuscarViajesController as buscarCtrl">
        <!-- PANEL DE BUSQUEDA (IZQUIERDO) -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <form role="form">
                <div class="form-group">
                    <label for="ciudadPartida">Ciudad Partida</label>
                    <input ng-model="buscarCtrl.ciudadPartida" type="text" id="ciudadPartida" placeholder="Ingresá ciudad de partida" class="form-control"
                        autofocus>
                </div>

                <div class="form-group">
                    <label for="fechaPartida">Fecha Partida</label>
                    <div>
                        <div class="row">
                            <div>
                                <p class="input-group">
                                    <input type="text" class="form-control" clear-text="Limpiar" current-text="Hoy" close-text="Cerrar" datepicker-popup="dd-MM-yyyy"
                                        ng-model="buscarCtrl.fechaPartida" is-open="buscarCtrl.fechaPartidaAbierto" min-date="buscarCtrl.fechaMinimaViaje"
                                        datepicker-options="buscarCtrl.dateOptions" ng-required="true" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="buscarCtrl.verFechaPartida($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label for="ciudadLlegada">Ciudad Llegada</label>
                    <input ng-model="buscarCtrl.ciudadLlegada" type="text" id="ciudadLlegada" placeholder="Ingresá ciudad de llegada" class="form-control"
                        autofocus>
                </div>

                <div class="form-group">
                    <label for="fechaLlegada">Fecha Llegada</label>
                    <div>
                        <div class="row">
                            <div>
                                <p class="input-group">
                                    <input type="text" class="form-control" clear-text="Limpiar" current-text="Hoy" close-text="Cerrar" datepicker-popup="dd-MM-yyyy"
                                        ng-model="buscarCtrl.fechaLlegada" is-open="buscarCtrl.fechaLlegadaAbierto" min-date="buscarCtrl.fechaMinimaViaje"
                                        datepicker-options="buscarCtrl.dateOptions" ng-required="true" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="buscarCtrl.verFechaLlegada($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button data-ng-click="buscarCtrl.buscarViajes()" type="submit" class="btn btn-primary btn-block">Buscar</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button data-ng-click="buscarCtrl.resetViajes()"type="button" class="btn btn-link">Limpiar</button>
            </div>

        </div>

        <!-- PANEL PRÓXIMOS VIAJES (DERECHO) -->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h3>Próximos viajes</h3>
            <hr>

            <ul class="nav nav-pills nav-stacked">
                <li data-ng-repeat="viaje in buscarCtrl.viajes">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <b>Partida</b>
                        <br> {{viaje.fechaPartida}}
                        <br>
                        <b>Llegada</b>
                        <br> {{viaje.fechaLlegada}}
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        Asientos libres
                        <br>{{buscarCtrl.verAsientosLibres(viaje)}} / {{viaje.micro.cantidadAsientos}}
                        <br>
                        <span ng-show="buscarCtrl.ultimosDisponibles(viaje)" class="colorRojo">
                            <i class="fa fa-fire" aria-hidden="true"></i>
                            Últimos disponibles</span>

                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                            <i ng-show="buscarCtrl.esCama(viaje)" class="fa fa-bed" aria-hidden="true"></i>
                            {{viaje.micro.tipoAsiento.nombre}}

                            <ul class="nav nav-pills nav-stacked" id="servicios">
                                <i ng-show="buscarCtrl.tieneServicios(viaje)" class="fa fa-cutlery" aria-hidden="true"></i>

                                {{buscarCtrl.mostrarServicios(viaje)}}

                            </ul>

                            <i ng-show="viaje.micro.tieneTele" class="fa fa-television" aria-hidden="true"></i>
                            {{buscarCtrl.mostrarTele(viaje)}}
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <b class="precio">${{viaje.precio}}</b>
                        <br>
                        <button data-ng-click="buscarCtrl.comprar(viaje)" type="button" class="btn btn-danger">Comprar</button>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                </li>
            </ul>

        </div>
    </div>

</div>

<!-- Sólo de prueba: -->
<button ui-sref="seleccionarAsiento" type="button" class="btn btn-success">Pasar a Seleccionar Asiento</button -->