<title>Datos personales</title>
<div class="container">

    <div class="row">

        <!-- PANEL DE DATOS (IZQUIERDO) -->
        <div ng-controller="UsuarioController as usuarioCtrl" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h3>Mis datos</h3>
            <form class="form-horizontal" role="form">


                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Nombre</label>
                    <div class="col-sm-9">
                        <input ng-change="usuarioCtrl.cambio()" ng-model="usuarioCtrl.barraSuperiorService.usuarioLogueado.cliente.nombre" type="text"
                            id="name" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-3 control-label">Apellido</label>
                    <div class="col-sm-9">
                        <input ng-change="usuarioCtrl.cambio()" ng-model="usuarioCtrl.barraSuperiorService.usuarioLogueado.cliente.apellido" type="text"
                            id="lastname" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="dni" class="col-sm-3 control-label">DNI</label>
                    <div class="col-sm-9">
                        <input ng-change="usuarioCtrl.cambio()" ng-model="usuarioCtrl.barraSuperiorService.usuarioLogueado.cliente.dni" type="text"
                            string-to-number id="dni" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="mail" class="col-sm-3 control-label">Mail</label>
                    <div class="col-sm-9">
                        <input ng-change="usuarioCtrl.cambio()" ng-model="usuarioCtrl.barraSuperiorService.usuarioLogueado.cliente.mail" type="email"
                            id="mail" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">Teléfono</label>
                    <div class="col-sm-9">
                        <input ng-change="usuarioCtrl.cambio()" ng-model="usuarioCtrl.barraSuperiorService.usuarioLogueado.cliente.telefono" type="text"
                            id="phone" class="form-control">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-12">
                        <button ng-show="usuarioCtrl.hayAlgoEditado" ng-click="usuarioCtrl.editarUsuario(superiorCtrl.usuarioLogueado)" type="submit"
                            class="btn btn-success btn-block">Guardar
                    </div>

                </div>

            </form>
        </div>


        <!-- PANEL PASAJES (DERECHO) -->
        <div ng-controller="PasajeController as pasajeCtrl" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h3>Pasajes</h3>
            <i ng-show="pasajeCtrl.pasajesActuales.length==0">No tenés ningún pasaje comprado</i>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <li data-ng-repeat="pasaje in pasajeCtrl.pasajesActuales">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <b>Partida: </b>
                        {{pasaje.viaje.ciudadOrigen}} - {{pasaje.viaje.fechaPartida}}
                        <br>
                        <b>Llegada: </b>
                        {{pasaje.viaje.ciudadDestino}} - {{pasaje.viaje.fechaLlegada}}
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                        <i ng-show="pasajeCtrl.esCama(pasaje.viaje)" class="fa fa-bed" aria-hidden="true"></i>
                        {{pasaje.viaje.micro.tipoAsiento.nombre}}

                        <ul class="nav nav-pills nav-stacked" id="servicios">
                            <i ng-show="pasajeCtrl.tieneServicios(pasaje.viaje)" class="fa fa-cutlery" aria-hidden="true"></i>

                            {{pasajeCtrl.mostrarServicios(pasaje.viaje)}}

                        </ul>

                        <i ng-show="pasaje.viaje.micro.tieneTele" class="fa fa-television" aria-hidden="true">
                            <span class="servicio">Con tele</span>
                        </i>

                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <b>Asiento</b>
                        <br> {{pasaje.asiento}}
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <b class="precio">${{pasaje.viaje.precio}}</b>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <button ng-click="pasajeCtrl.cancelar(pasaje)" type="button" class="btn btn-danger">Cancelar</button>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                </li>
            </ul>

            <!-- PASAJES HISTÓRICOS -->

            <h3>Pasajes históricos</h3>
            <i ng-show="(pasajeCtrl.pasajesHistoricos.length==0)">No tenés ningún pasaje pasado</i>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <li data-ng-repeat="pasaje in pasajeCtrl.pasajesHistoricos">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <b>Partida: </b>
                        {{pasaje.viaje.ciudadOrigen}} - {{pasaje.viaje.fechaPartida}}
                        <br>
                        <b>Llegada: </b>
                        {{pasaje.viaje.ciudadDestino}} - {{pasaje.viaje.fechaLlegada}}
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                        <i ng-show="pasajeCtrl.esCama(pasaje.viaje)" class="fa fa-bed" aria-hidden="true"></i>
                        {{pasaje.viaje.micro.tipoAsiento.nombre}}

                        <ul class="nav nav-pills nav-stacked" id="servicios">
                            <i ng-show="pasajeCtrl.tieneServicios(pasaje.viaje)" class="fa fa-cutlery" aria-hidden="true"></i>

                            {{pasajeCtrl.mostrarServicios(pasaje.viaje)}}

                        </ul>

                        <i ng-show="pasaje.viaje.micro.tieneTele" class="fa fa-television" aria-hidden="true">
                            <span class="servicio">Con tele</span>
                        </i>

                    </div>


                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <b>Asiento</b>
                        <br> {{pasaje.asiento}}
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <b class="precio">${{pasaje.viaje.precio}}</b>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <i>Viaje expirado</i>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                </li>
            </ul>



            <!-- PASAJES CANCELADOS -->

            <h3>Pasajes cancelados</h3>
            <i ng-show="(pasajeCtrl.pasajesCancelados.length==0)">No tenés ningún pasaje cancelado</i>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <li data-ng-repeat="pasaje in pasajeCtrl.pasajesCancelados">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <b>Partida: </b>
                        {{pasaje.viaje.ciudadOrigen}} - {{pasaje.viaje.fechaPartida}}
                        <br>
                        <b>Llegada: </b>
                        {{pasaje.viaje.ciudadDestino}} - {{pasaje.viaje.fechaLlegada}}
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                        <i ng-show="pasajeCtrl.esCama(pasaje.viaje)" class="fa fa-bed" aria-hidden="true"></i>
                        {{pasaje.viaje.micro.tipoAsiento.nombre}}

                        <ul class="nav nav-pills nav-stacked" id="servicios">
                            <i ng-show="pasajeCtrl.tieneServicios(pasaje.viaje)" class="fa fa-cutlery" aria-hidden="true"></i>

                            {{pasajeCtrl.mostrarServicios(pasaje.viaje)}}

                        </ul>

                        <i ng-show="pasaje.viaje.micro.tieneTele" class="fa fa-television" aria-hidden="true">
                            <span class="servicio">Con tele</span>
                        </i>

                    </div>


                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <b>Asiento</b>
                        <br> {{pasaje.asiento}}
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <b class="precio">${{pasaje.viaje.precio}}</b>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <i>Pasaje cancelado</i>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                </li>
            </ul>


            <div class="col-12">
                <button ui-sref="buscarViajes" type="submit" class="btn btn-sm btn-primary">Volver</button>
            </div>

        </div>


    </div>

</div>