<!-- BARRA SUPERIOR -->
<div class="container" ng-controller="BarraSuperiorController as superiorCtrl">
    <nav class="navbar navbar-dark bg-primary">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right ">
                <li>
                    <button ng-click="superiorCtrl.abrirPerfil()" type="button" class="btn btn-success">{{superiorCtrl.usuarioLogueado.username}}</button>

                </li>
            </ul>
        </div>
    </nav>

    <div class="row" ng-controller="BuscarViajesController as buscarCtrl">
        <!-- PANEL DE INFORMACIÓN DE VIAJE (IZQUIERDO) -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span class="titulo">Partida</span>
                <br> {{buscarCtrl.viajeAComprar.ciudadOrigen}}
                <br> {{buscarCtrl.viajeAComprar.fechaPartida}}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span class="titulo">Llegada</span>
                <br> {{buscarCtrl.viajeAComprar.ciudadDestino}}
                <br> {{buscarCtrl.viajeAComprar.fechaLlegada}}
                <br>
                <br>
            </div>


            <!-- <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">

                <i ng-show="buscarCtrl.esCama(viajeAComprar)" class="fa fa-bed" aria-hidden="true"></i>
                {{buscarCtrl.viajeAComprar.micro.tipoAsiento.nombre}}

                <ul class="nav nav-pills nav-stacked" id="servicios">
                    <i ng-show="buscarCtrl.tieneServicios(viajeAComprar)" class="fa fa-cutlery" aria-hidden="true"></i>

                    <li data-ng-repeat="servicio in buscarCtrl.viajeAComprar.servicios">
                        {{servicio}},
                    </li>
                </ul>

                <i ng-show="buscarCtrl.viajeAComprar.micro.tieneTele" class="fa fa-television" aria-hidden="true"></i>
                {{buscarCtrl.mostrarTele(viajeAComprar)}}
                <br>
                <br>
                <br>
            </div> -->

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span class="titulo">Precio final:</span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span class="titulo precio">${{buscarCtrl.viajeAComprar.precio}}</span>
                <br>
                <br>
            </div>


            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button type="button" class="btn btn-link">Volver</button>
            </div>

        </div>

        <!-- PANEL DERECHO -->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

            <!-- PANEL SELECCIÓN DE ASIENTOS -->
            <div>
                <h3>Seleccione el asiento</h3>
                <hr>

                <ul class="nav nav-pills nav-stacked" id="asientos">
                    <li data-ng-repeat="asiento in buscarCtrl.viajeAComprar.asientosLibres">
                        <!-- Botón con "estado": -->
                        <!-- Cuando se hace click a un botón con el atributo data-toggle="button", se le agrega la clase .active -->
                        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">{{asiento}}</button>

                        <!-- Botón deshabilitado: -->
                        <!-- <button type="button" class="btn btn-primary" disabled>{{asiento}}</button> -->
                    </li>
                </ul>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <hr>
            </div>

            <!-- PANEL DE PAGO -->
            <div>
                <form class="form-horizontal" role="form">
                    <h3>Pago</h3>

                    <div class="form-group">
                        <label for="nroTarjeta" class="col-sm-3 control-label">Número</label>
                        <div class="col-sm-5">
                            <input type="text" id="nroTarjeta" placeholder="Ingresá número" class="form-control" autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="vencimiento" class="col-sm-3 control-label">Vencimiento</label>
                        <div class="col-sm-2">
                            <input type="text" id="mes" placeholder="MM" class="form-control">
                            <input type="text" id="año" placeholder="AA" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nombre" class="col-sm-3 control-label">Nombre del titular</label>
                        <div class="col-sm-5">
                            <input type="text" id="nombre" placeholder="Ingresá nombre" class="form-control">
                        </div>
                    </div>
            </div>


        </div>

    </div>