<title>Seleccionar asiento</title>
<div class="container">



    <div class="row" ng-controller="SeleccionarAsientoController as selAsientoCtrl">

        <!-- PANEL DE INFORMACIÓN DE VIAJE (IZQUIERDO) -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span class="titulo">Partida</span>
                <br> {{selAsientoCtrl.viaje.ciudadOrigen}}
                <br> {{selAsientoCtrl.viaje.fechaPartida}}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span class="titulo">Llegada</span>
                <br> {{selAsientoCtrl.viaje.ciudadDestino}}
                <br> {{selAsientoCtrl.viaje.fechaLlegada}}
                <br>
                <br>
            </div>


            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">

                <i ng-show="selAsientoCtrl.esCama(selAsientoCtrl.viaje)" class="fa fa-bed" aria-hidden="true"></i>
                {{selAsientoCtrl.viaje.micro.tipoAsiento.nombre}}

                <ul class="nav nav-pills nav-stacked" id="servicios">
                    <i ng-show="selAsientoCtrl.tieneServicios(selAsientoCtrl.viaje)" class="fa fa-cutlery" aria-hidden="true"></i>

                    {{selAsientoCtrl.mostrarServicios(selAsientoCtrl.viaje)}}

                    </li>
                </ul>

                <i ng-show="selAsientoCtrl.viaje.micro.tieneTele" class="fa fa-television" aria-hidden="true"></i>
                {{selAsientoCtrl.mostrarTele(selAsientoCtrl.viaje)}}
                <br>
                <br>
                <br>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span class="titulo">Precio final:</span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span class="titulo precio">${{selAsientoCtrl.viaje.precio}}</span>
                <br>
                <br>
            </div>

        </div>

        <!-- PANEL DERECHO -->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

            <!-- PANEL SELECCIÓN DE ASIENTOS -->
            <div>
                <h3>Seleccione el asiento</h3>
                <hr>

                <ul class="nav nav-pills nav-stacked" id="asientos">
                    <li data-ng-repeat="asiento in selAsientoCtrl.asientos">

                        <div class="form-check">
                            <label ng-Class="(selAsientoCtrl.asientoReservado(asiento))?'btn btn-danger':'btn-primary'" class="btn btn-primary active">
                                <input ng-model="selAsientoCtrl.pasaje.asiento" ng-value="asiento.numero" ng-disabled="selAsientoCtrl.asientoReservado(asiento)"
                                    type="radio" name="options" id="option1" autocomplete="off"> {{asiento.numero}}
                            </label>
                        </div>
                    </li>
                </ul>

            </div>

            <!-- PANEL DE PAGO -->
            <div>

                <form ng-submit="selAsientoCtrl.registrarPago()">

                    <h3>Datos de la tarjeta
                        <span class="glyphicon glyphicon-credit-card"></span>
                    </h3>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Número de tarjeta</label>
                        <div class="col-sm-10">
                            <input class="form-control" ng-model="selAsientoCtrl.pasaje.pago.card_number" type="text" placeholder="Número de tarjeta"
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vencimiento</label>
                        <div class="col-sm-10">
                            <div class="form-inline">
                                <input class="form-control" ng-model="selAsientoCtrl.pasaje.pago.expiration_month" type="number" placeholder="Mes" required>
                                <label class="control-label">/</label>
                                <input class="form-control" ng-model="selAsientoCtrl.pasaje.pago.expiration_year" type="number" placeholder="Año" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre del titular</label>
                        <div class="col-sm-10">
                            <input class="form-control" ng-model="selAsientoCtrl.pasaje.pago.name" type="text" placeholder="Nombre" required>
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
                    </div>
                    <div>
                        <button ui-sref="buscarViajes" type="button" class="btn btn-link">Volver</button>
                    </div>

                </form>
            </div>






            <!-- <div ng-controller="PagosController as pagosCtrl">
                <form class="form-horizontal" role="form">
                    <h3>Pago</h3>

                    <div class="form-group">
                        <label for="nroTarjeta" class="col-sm-3 control-label">Número</label>
                        <div class="col-sm-5">
                            <input type="text" id="nroTarjeta" placeholder="Ingresá número" class="form-control" autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="vencimiento" class="col-sm-3 control-label">Vencimiento</label>
                        <div class="col-sm-2">
                            <input type="text" id="mes" placeholder="MM" class="form-control">
                            <input type="text" id="año" placeholder="AA" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nombre" class="col-sm-3 control-label">Nombre del titular</label>
                        <div class="col-sm-5">
                            <input type="text" id="nombre" placeholder="Ingresá nombre" class="form-control">
                        </div>
                    </div>
            </div> -->


        </div>

    </div>
</div>